# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Environment
.env

# Processed Data
data/processed/

# Airflow
airflow/logs/

# PostgreSQL
postgres_data/

# VS Code
.vscode/

# macOS
.DS_Store