# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Logs
logs/

# Processed Data
data/processed/

# Airflow
airflow/logs/

# VS Code
.vscode/

# macOS
.DS_Store